@import '../base/vars';

.articles__content {
   .news__title {
      margin-bottom: toRem(40);
      display: flex;
      gap: toRem(16);
      flex-direction: column;
      @media (max-width: $tablet) {
         margin-bottom: toRem(24);
      }
      @media (max-width: $mobile) {
         margin-bottom: toRem(20);
      }
   }
}
