
.docs {
   margin-bottom: toRem(80);
   @media (max-width: $tablet) {
      margin-bottom: toRem(56);
   }
   @media (max-width: $mobile) {
      margin-bottom: toRem(40);
   }
}

.docs__filter-container {
   display: flex;
   align-items: center;
   gap: toRem(55);
   margin-bottom: toRem(24);
   @media (max-width: $tablet) {
      margin-bottom: toRem(16);
      gap: toRem(32);         
   }
   & > div {
      display: flex;
      flex-direction: column;
      gap: toRem(16);
      width: toRem(260);
      @media (max-width: $tablet) {
         width: toRem(224);
      }
      & > label {
         font-weight: 700;
      }
   }
}
