@import '../base/vars';

.header-mobile
{
   display: none;
}

@media (max-width: $tablet)
{

   .header-mobile
   {
      display: block;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      padding-top: toRem(20);
      padding-bottom: toRem(2);
      z-index: 130;
      background-color: $whiteColor;
      box-shadow: none;
      margin-bottom: toRem(32);

      @media (max-width: $mobile)
      {
         padding-top: toRem(32);
         padding-bottom: 0;
         margin-bottom: toRem(16);
      }
   }

   .header-mobile._scroll
   {
      display: none;
   }

   .header-mobile__top-wrapper
   {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: toRem(16);
      line-height: toRem(24);
      color: $textSecondColor;
      margin-bottom: toRem(38);
      gap: toRem(10);
      flex-wrap: wrap;

      @media (max-width: $mobile)
      {
         justify-content: flex-end;
         margin-bottom: toRem(16);
      }
   }

   .header-mobile__contacts
   {
      display: flex;
      gap: toRem(16);
      flex-wrap: wrap;
   }

   .header-mobile__phone-link
   {
      display: flex;
      gap: toRem(4);
      align-items: center;

      @media (max-width: $mobile)
      {
         & span
         {
            display: none;
         }
      }

      &>img
      {
         width: toRem(16);

         @media (max-width: $mobile)
         {
            width: toRem(18);
         }
      }

   }

   .header-mobile__phone-link._last
   {
      @media (max-width: $mobile)
      {
         display: none;
      }
   }

   .header-mobile__phone
   {
      text-wrap: nowrap;
   }

   .header-mobile__email-wrapper
   {
      display: flex;
      gap: toRem(6);
      align-items: center;

      & img
      {
         width: toRem(16);
      }

      @media (max-width: $mobile)
      {
         & span
         {
            display: none;
         }

         & img
         {
            width: toRem(19);
         }
      }
   }

   .header-mobile__bottom
   {
      background-color: $whiteColor;

      @media (max-width: $mobile)
      {
         padding-top: toRem(16);
      }
   }


   .header-mobile__bottom-wrapper
   {
      display: flex;
      justify-content: space-between;
      gap: toRem(16);
      position: relative;
   }

   .header-mobile__logo-link
   {
      @media (max-width: $mobile)
      {
         position: absolute;
         left: 0;
         top: calc(-100% - 16px);
      }
   }

   .header-mobile__logo
   {
      height: toRem(44);
      object-fit: contain;
   }

   .header-mobile__search-wrapper
   {
      display: flex;
      justify-content: space-between;
      gap: toRem(12);
      width: 100%;
      max-width: toRem(696);
      position: relative;
   }

   .header-mobile__catalogue-btn
   {
      @include main-btn;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: toRem(8);
      border-radius: toRem(6);
      flex-basis: toRem(52);
      flex-grow: 0;
      flex-shrink: 0;
      height: toRem(44);
      @media (max-width: $mobile)
      {
         display: none;
      }
   }


   .header-mobile__search-field
   {
      flex-basis: 550px;
      flex-grow: 2;
      position: relative;
   }

   .header-mobile__search-input
   {
      width: 100%;
      height: toRem(44);
      border-radius: toRem(4);
      padding: toRem(3) toRem(50) toRem(3) toRem(16);
      border: 1px solid $greyColor400;

      &:focus
      {
         outline: none !important;
         border: 1px solid $blueColor;
      }
   }

   .header-mobile__search-submit
   {
      position: absolute;
      top: toRem(4);
      right: toRem(4);
      background-color: $blueColor;
      border-radius: toRem(4);
      width: toRem(40);
      height: toRem(36);
      padding: toRem(8) toRem(10);
      text-align: center;
      vertical-align: baseline;
   }

   .header-mobile__result
   {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: $whiteColor;
      transform: translateY(10px);
      transition: $mainTransition;
      padding: toRem(12) 0 toRem(16);
      box-shadow: $boxShadow;
      border-radius: toRem(4);
      border: 1px solid $greyColor400;
   }

   .header-mobile__result-wrapper
   {
      display: flex;
      flex-direction: column;
      margin-bottom: toRem(20);
      color: $textThirdColor;
      font-weight: 700;
      font-size: toRem(16);
      transition: $mainTransition;
      overflow: hidden;

      & li>a
      {
         display: flex;
         justify-content: space-between;
         gap: toRem(10);
         align-items: center;
         line-height: 1;
         padding: toRem(12);
         font-size: toRem(14);
         & > span {
            text-wrap: nowrap;
         }

      }
      & li>a>p
      {
         display: inline-flex;
         align-items: center;
         gap: toRem(4);
      }

      & li>a>p span:last-child
      {
         color: $redColor;
         font-weight: 400;
      }
   }

   .header-mobile__result-btn
   {
      @include main-btn;
      margin-left: toRem(16);
      height: toRem(40);
      line-height: 1.3;
      width: 100%;
      max-width: toRem(245);
      text-align: center;
   }

   .product__example
   {
      opacity: 0;
      visibility: hidden;
      transform: scale(0);
      position: absolute;
      top: -13px;
      left: 101%;
      background-color: $whiteColor;
      z-index: 1000;
      box-shadow: $boxShadow;
      border-radius: toRem(4);
      border: 1px solid $greyColor400;
      transition: transform .2s ease-out;

   }

   .product__example-wrapper
   {
      padding: toRem(24);
      display: inline-flex;
      flex-direction: column;
      gap: toRem(12);

      & div:first-child
      {
         object-fit: contain;
         height: toRem(180);
         position: relative;

         & button
         {
            background-color: $whiteColor;
            position: absolute;
            top: 0;
            right: 0;
         }
      }

      &>button
      {
         @include main-btn;
      }

      &>p
      {
         margin-bottom: toRem(4);
         font-weight: 400;
      }

   }

   .product__title-container
   {
      display: flex;
      flex-direction: column;
      gap: toRem(4);

      &>p
      {
         color: $redColor;
         font-weight: 400;
      }
   }

   .product__info-container
   {
      & p:first-child
      {
         font-size: toRem(24);
         line-height: 36px;
      }

      & p:last-child
      {
         color: $greenColor;
         font-weight: 400;
      }
   }

}

.mobile__nav-footer
{
   display: none;
   padding: toRem(12) 0;
   margin: 0 auto;
   position: fixed;
   bottom: 0;
   width: 100%;
   z-index: 160;
   background-color: $whiteColor;
   box-shadow: $boxShadow;

   @media (max-width: $tablet)
   {
      display: block;
   }
}

@media (max-width: $tablet)
{
   .mobile__actions-list
   {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: toRem(12);

      @media (max-width: $mobile)
      {
         gap: toRem(6);
         justify-content: space-between;
      }
   }

   .mobile__container
   {
      @media (max-width: $mobile)
      {
         max-width: toRem(328);
      }
   }

   .mobile__actions-item
   {
      position: relative;

      &>a
      {
         display: flex;
         flex-direction: column;
         align-items: center;
         line-height: toRem(24);
         justify-content: space-between;
         height: toRem(48);

         &>img
         {
            height: toRem(24);
         }
      }

      &>span
      {
         display: inline-block;
         position: absolute;
         top: -10%;
         right: 10%;
         min-width: toRem(20);
         height: toRem(20);
         border-radius: 50px;
         background-color: red;
         font-size: toRem(12);
         line-height: toRem(20);
         font-weight: 700;
         color: $whiteColor;
         text-align: center;
         z-index: 140;
         padding: 0 toRem(5);
         overflow: hidden;
         width: fit-content;
      }

   }

}

.mobile__side-btn
{
   background: none;
   display: flex;
   flex-direction: column;
   align-items: center;
   color: $textColor;
   font-family: inherit;

   & img
   {
      height: toRem(24);
      width: toRem(24);
      display: block;
      line-height: 0;
   }
}

@media (max-width: $tablet)
{
   .mobile__side-overlay
   {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(26, 25, 25, 0.5);
      display: flex;
      justify-content: flex-end;
      display: none;
      transition: opacity 0.05s ease-out;
      opacity: 0;
      visibility: hidden;
      display: flex;

      & .mobile__side-content
      {
         width: 50vw;
         background-color: $whiteColor;
         padding: toRem(24) toRem(24);
         overflow-y: auto;
         transition: all 0.3s ease-out;
         transform: translateX(1500px);

         @media (max-width: $mobile)
         {
            width: 100vw;
         }

         & h3
         {
            margin-bottom: toRem(16);
            line-height: toRem(32);
         }

         & ul
         {
            display: flex;
            flex-direction: column;
            gap: toRem(16);

            & li>a
            {
               display: inline-block;
               line-height: 1;
               width: 100%;
            }
         }

         & ul:first-of-type
         {
            margin-bottom: toRem(32);
         }
      }
   }

   .mobile__side-overlay._active
   {
      opacity: 1;
      visibility: visible;

      & .mobile__side-content
      {
         transform: translateX(0);
      }

   }


   .mobile__side-content._active
   {
      transform: translateX(0);
   }

   .mobili__side-top
   {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: toRem(32);
   }

   .mobile__side-left
   {
      display: flex;
      gap: toRem(20);
      text-align: center;

      &>div
      {
         position: relative;

         &>span
         {
            display: inline-block;
            position: absolute;
            top: -20%;
            right: 10%;
            min-width: toRem(20);
            height: toRem(20);
            border-radius: 50px;
            background-color: red;
            font-size: toRem(12);
            line-height: toRem(20);
            font-weight: 700;
            color: $whiteColor;
            text-align: center;
            z-index: 140;
            padding: 0 toRem(5);
            overflow: hidden;
            width: fit-content;
         }
      }

      &>div>a
      {
         display: flex;
         flex-direction: column;
         max-height: toRem(42);

         & img
         {
            object-fit: contain;
            height: toRem(20);
         }

         & span
         {
            line-height: toRem(18);
            font-size: toRem(14);
         }
      }
   }

   .mobile__side-right
   {
      &>button
      {
         background: none;

         & img
         {
            transform: rotateZ(45deg);
            width: toRem(22);
            height: toRem(22);
         }
      }
   }
}